﻿
@using System.Web.Mvc;
@model string

@{
    Layout = null;
}

@helper DisplayMessage(string msg)
{
    <p>This is an HTML element:@msg</p>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>@Model</p> 
        <p>@Html.DisplayMessage(Model)</p>
        @DisplayMessage("<input>")
    </div>
</body>
</html>
